* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.siteWrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

#app {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.camp-holder {
  width: 150px;
  margin-bottom: 30px;
  border-bottom: solid 1px black;
  margin: 50px;
  h4 {
    white-space: nowrap;
  }
}

.brief-info {
  font-size: 9px;
}

.brief-desc {
  margin-bottom: 10px;
}

.full-camp-holder {
  width: 150px;

  .brief-info {
    .item-desc {
      margin-top: 15px;
      font-size: 15px;
      white-space: nowrap;
    }

    .close {
      margin-top: 25px;
      display: block;
      padding: 10px 30px;
      cursor: pointer;
      background-color: rgb(224, 80, 80);
      width: 100px;
      font-size: 12px;
      border-radius: 10px;
    }
  }
}
